body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

/* HEADER */

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 192px;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header a {
  text-decoration: none;
}

.header .logo {
  font-size: 24px;
  color: #f9faf8;
}

.header .links {
  display: flex;
  gap: 24px;
}

.header .link {
  font-size: 18px;
  color: #e5e7eb;
}

/* HERO */

.hero {
  background-color: #1f2937;
  display: flex;
  padding: 96px 192px;
}

.hero .left {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.hero .right {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.hero .main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero .secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero button {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  border-style: none;
  border-radius: 6px;
  padding: 4px 24px;
}

.hero .placeholder {
  color: #e5e7eb;
}

/* INFORMATION */

.information {
  background-color: #f9faf8;
  padding: 96px 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.information .information-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.information .information-row {
  display: flex;
  gap: 48px;
}

.information .information-column {
  display: flex;
  flex-direction: column;
}

.information .subtext {
  flex: 1 1 0;
}

/* QUOTE */

.quote {
  background-color: #e5e7eb;
}

/* ACTION */

.action {
  background-color: #f9faf8;
}

/* FOOTER */

.footer {
  background-color: #1f2937;
}
